In [1]:
import pandas as pd 
import numpy as np
from csv import writer
import csv

import mysql.connector

In [2]:
df = pd.read_csv("../bs4_to_mysql/df_rental.csv")
df

,Price,Room_Count,Area(sqrmt),Age,Floor
0,5.000 TL,1 + 1,60 m2,Sıfır Bina,Bahçe Katı
1,5.000 TL,Stüdyo,25 m2,40 Yaşında,2. Kat
2,5.500 TL,2 + 1,100 m2,28 Yaşında,Yüksek Giriş
3,10.500 TL,2 + 1,125 m2,38 Yaşında,1. Kat
4,10.500 TL,2 + 1,125 m2,30 Yaşında,1. Kat
...,...,...,...,...,...
130,8.000 TL,2 + 1,100 m2,31 Yaşında,1. Kat
131,5.000 TL,Stüdyo,25 m2,40 Yaşında,2. Kat
132,8.000 TL,2 + 1,95 m2,31 Yaşında,1. Kat
133,5.000 TL,1 + 1,70 m2,35 Yaşında,2. Kat
134,5.000 TL,1 + 1,65 m2,28 Yaşında,Giriş Katı

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        135 non-null    object
 1   Room_Count   135 non-null    object
 2   Area(sqrmt)  135 non-null    object
 3   Age          135 non-null    object
 4   Floor        135 non-null    object
dtypes: object(5)
memory usage: 5.4+ KB

In [4]:
df['Price'] = df.Price.str.extract(r'(\d+[.\d]*)')
df['Price'] = df.Price.str.replace('.', '')
df['Area(sqrmt)'] = df["Area(sqrmt)"].str.extract(r'(\d+[.\d]*)')
df['Age'] = df["Age"].str.extract(r'(\d+[.\d]*)')

df.dropna(inplace=True)
df['Area(sqrmt)'] = df["Area(sqrmt)"].astype("int")
df['Age'] = df["Age"].astype("int")
df['Price'] = df.Price.astype("int")

<ipython-input-4-e1d22b397f74>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Price'] = df.Price.str.replace('.', '')

In [5]:
df.to_csv('df_last.csv', index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129 entries, 1 to 134
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        129 non-null    int32
 1   Room_Count   129 non-null    object
 2   Area(sqrmt)  129 non-null    int32
 3   Age          129 non-null    int32
 4   Floor        129 non-null    object
dtypes: int32(3), object(2)
memory usage: 4.5+ KB

In [6]:
data = 'df_last.csv'
cnx = mysql.connector.connect(
    user='xxx',
    password='xxxx',
    host='xxx',
database="rental")

cursor = cnx.cursor()

insert_statement = (""
    "INSERT INTO rental(Price, Room, Area, Age, Floor)"
    "VALUES (%s, %s, %s, %s,%s)"""
)

#sql=("CREATE TABLE rental0(Price INT(255), Room VARCHAR(255),Area INT(255) , Age INT(255), Floor VARCHAR(255))")
#cursor.execute(sql)

with open(data, mode='r') as csv_data:
    reader = csv.reader(csv_data, delimiter=',')
    csv_data_list = list(reader)
    for row in csv_data_list:
        cursor.execute(insert_statement, row)

cnx.commit()
cursor.close()
cnx.close()
print("Done")

Done