### This notebook has only made for educational purposes therefore I don't show the URL of the website.

In [1]:
import pandas as pd 
import numpy as np

from bs4 import BeautifulSoup
import requests
from csv import writer
import csv

import mysql.connector

### Scraping Data with BeautifulSoup4

In [2]:
URL = "xxxx"
page= requests.get(URL)
bs = BeautifulSoup(page.content,"html.parser")
lists= bs.find_all("li",class_="listing-item")

with open("rental.csv","w",encoding="utf-8",newline="") as f:
    thewriter=writer(f)
    header=["Price","Room_Count","Area(sqrmt)","Age","Floor"]
    thewriter.writerow(header)
    for list_ in lists:
        price=list_.find("span",class_="list-view-price").text.replace("\n","")
        room=list_.find("span",class_="celly houseRoomCount").text.replace("\n","")
        sqrmt=list_.find("span",class_="celly squareMeter list-view-size").text.replace("\n","")
        age=list_.find("span",class_="celly buildingAge").text.replace("\n","")
        floor=list_.find("span",class_="celly floortype").text.replace("\n","")
        info=[price,room,sqrmt,age,floor]
        thewriter.writerow(info)
        print(info)

['              5.000              TL', '1 + 1', '                          60 m2', 'Sıfır Bina', '                      Bahçe Katı']
['              5.000              TL', 'Stüdyo', '                          25 m2', '40 Yaşında', '                      2. Kat']
['              5.500              TL', '2 + 1', '                          100 m2', '28 Yaşında', '                      Yüksek Giriş']
['              10.500              TL', '2 + 1', '                          125 m2', '38 Yaşında', '                      1. Kat']
['              10.500              TL', '2 + 1', '                          125 m2', '30 Yaşında', '                      1. Kat']
['              4.500              TL', '2 + 1', '                          70 m2', '6 Yaşında', '                      Yüksek Giriş']
['              6.000              TL', '2 + 1', '                          85 m2', '38 Yaşında', '                      4. Kat']
['              4.000              TL', '1 + 1', '                          55 m2', '40 Yaşında', '                      Kot 2']
['              7.500              TL', '3 + 1', '                          120 m2', '25 Yaşında', '                      2. Kat']
['              9.500              TL', '2 + 1', '                          89 m2', '6 Yaşında', '                      2. Kat']
['              9.500              TL', '2 + 1', '                          90 m2', '6 Yaşında', '                      1. Kat']
['              7.500              TL', '2 + 1', '                          83 m2', 'Sıfır Bina', '                      Yüksek Giriş']
['              5.000              TL', '2 + 1', '                          67 m2', '45 Yaşında', '                      4. Kat']
['              5.500              TL', '2 + 1', '                          90 m2', '30 Yaşında', '                      3. Kat']
['              7.500              TL', '3 + 1', '                          140 m2', '40 Yaşında', '                      4. Kat']
['              6.300              TL', '2 + 1', '                          110 m2', '31 Yaşında', '                      1. Kat']
['              5.000              TL', '2 + 1', '                          95 m2', '35 Yaşında', '                      En Üst Kat']
['              1.500              TL', 'Stüdyo', '                          37 m2', '8 Yaşında', '                      2. Kat']
['              4.500              TL', '2 + 1', '                          65 m2', '6 Yaşında', '                      Yüksek Giriş']
['              9.500              TL', '2 + 1', '                          85 m2', '50 Yaşında', '                      3. Kat']
['              10.000              TL', '2 + 1', '                          125 m2', '18 Yaşında', '                      1. Kat']
['              8.000              TL', '3 + 1', '                          115 m2', '38 Yaşında', '                      4. Kat']
['              10.500              TL', '2 + 1', '                          140 m2', '38 Yaşında', '                      1. Kat']
['              6.500              TL', '2 + 1', '                          85 m2', '40 Yaşında', '                      2. Kat']

In [3]:
### Concat 6 pages of data to one table
df= pd.read_csv("rental.csv")
df0= pd.read_csv("rental0.csv")
df1= pd.read_csv("rental1.csv")
df2= pd.read_csv("rental2.csv")
df3= pd.read_csv("rental3.csv")
df4= pd.read_csv("rental4.csv")
df_rental= pd.concat([df,df0,df1,df2,df3,df4],axis=0).reset_index().drop("index",axis=1)
df_rental.to_csv('df_rental.csv', index=False)
df_rental.head()

,Price,Room_Count,Area(sqrmt),Age,Floor
0,5.000 TL,1 + 1,60 m2,Sıfır Bina,Bahçe Katı
1,5.000 TL,Stüdyo,25 m2,40 Yaşında,2. Kat
2,5.500 TL,2 + 1,100 m2,28 Yaşında,Yüksek Giriş
3,10.500 TL,2 + 1,125 m2,38 Yaşında,1. Kat
4,10.500 TL,2 + 1,125 m2,30 Yaşında,1. Kat

### Importing data to MySQL

In [4]:
data = 'df_rental.csv'
cnx = mysql.connector.connect(
    user='xxxx',
    password='xxxx',
    host='xxxx',
database="rental")

cursor = cnx.cursor()

insert_statement = (""
    "INSERT INTO rental(Price, Room, Area, Age, Floor)"
    "VALUES (%s, %s, %s, %s,%s)"""
)

#sql=("CREATE TABLE rental(Price VARCHAR(255), Room VARCHAR(255),Area VARCHAR(255) , Age VARCHAR(255), Floor VARCHAR(255))")
#cursor.execute(sql)

with open(data, mode='r') as csv_data:
    reader = csv.reader(csv_data, delimiter=',')
    csv_data_list = list(reader)
    for row in csv_data_list:
        cursor.execute(insert_statement, row)

cnx.commit()
cursor.close()
cnx.close()
print("Done")

Done

### Next Step is pulling the table from MySQL and Analyze